@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../assets/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

:root {
  --milkdown-menu-height: 30px;
  --milkdown-border-radius: 5px;
  --milkdown-menu-margin-bottom: 1px;
}

body {
  background-color: #fff0;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.4;
  cursor: text;
  color: var(--editorColor80);
}
